{% extends "layout/base.html" %}
{% load static %}

{% block content %}

<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">


    <!-- Carousel Start -->
    <div class="carousel-header">
        <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselId" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselId" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="{% static 'img/carousel-2.jpg' %}" class="img-fluid" alt="Image">
                    <div class="carousel-caption">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">Explore The
                                Turkish Culture Together</h4>
                            <h1 class="display-2 text-capitalize text-white mb-4">Let's Discover Turkey Together!</h1>

                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5"
                                    href="{% url 'all_destinations' %}">Discover Now</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="{% static 'img/carousel-3.jpg' %}" class="img-fluid" alt="Image">
                    <div class="carousel-caption">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">Welcome to
                                Turkey</h4>
                            <h1 class="display-2 text-capitalize text-white mb-4">You Ready To Go?</h1>
                            <p class="mb-5 fs-5">"where ancient history intertwines with modern culture, and where the
                                flavors of the Orient blend with the vibrancy of the Mediterranean"
                            </p>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5"
                                    href="#">Discover Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                <span class="carousel-control-prev-icon btn bg-primary" aria-hidden="false"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                <span class="carousel-control-next-icon btn bg-primary" aria-hidden="false"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->
</div>
<div class="container-fluid search-bar position-relative" style="top: -50%; transform: translateY(-50%);">
    <div class="container">
        <div class="position-relative rounded-pill w-100 mx-auto p-5" style="background: rgba(19, 53, 123, 0.8);">
            <input id="search-input" class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" type="text"
                placeholder="Eg: Istanbul">
            <button id="search-button" type="button"
                class="btn btn-primary rounded-pill py-2 px-4 position-absolute me-2"
                style="top: 50%; right: 46px; transform: translateY(-50%);">Search</button>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->

<!-- About Start -->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5">
                <div class="h-100" style="border: 50px solid; border-color: transparent #13357B transparent #13357B;">
                    <img src="{% static 'img/about-us.jpg' %}" class="img-fluid w-100 h-100" alt="">
                </div>
            </div>
            <div class="col-lg-7"
                style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(img/about-img-1.png);">
                <h5 class="section-about-title pe-3">About Us</h5>
                <h1 class="mb-4">Welcome to <span class="text-primary">Travela</span> Your Gateway to Exploring Turkey!
                </h1>
                <p class="mb-4">From the bustling markets of Istanbul to the tranquil beaches of the Aegean, Turkey is a
                    land of contrasts waiting to be explored. Whether you’re seeking adventure, relaxation, cultural
                    immersion, or historical exploration, our website is designed to guide you every step of the way.
                </p>
                <p class="mb-4">our platform is your ultimate resource for uncovering the hidden gems and celebrated
                    wonders of this diverse country.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Detailed Travel Guides</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Cultural Insights</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Practical Tips</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Interactive Community</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>150 Premium City Tours</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>24/7 Service</p>
                    </div>
                </div>
                <a href="{% url 'about-us'%}"  class="btn btn-primary rounded-pill py-3 px-5 mt-2" href="">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Services Start -->
<div class="container-fluid bg-light service py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Searvices</h5>
            <h1 class="mb-0">Our Services</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-6">
                        <div
                            class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                            <div class="service-content text-start">
                                <h5 class="mb-4">Educational Resources</h5>
                                <p class="mb-0"> Gain access to a curated list of universities, language schools, and
                                    libraries, along with detailed guides on scholarships, registration processes, and
                                    student life in Turkey.
                                </p>
                            </div>
                            <div class="service-icon p-4">
                                <i class="fa fa-user fa-4x text-primary"></i>

                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div
                            class="service-content-inner d-flex align-items-center  bg-white border border-primary rounded p-4 pe-0">
                            <div class="service-content text-start">
                                <h5 class="mb-4">Itineraries</h5>
                                <p class="mb-0">Maximize your time and experience in Turkey with our curated itineraries
                                    tailored to various interests and durations. Whether you have a week or a month, we
                                    help you make the most of your visit.
                            </div>
                            <div class="service-icon p-4">
                                <i class="fa fa-hotel fa-4x text-primary"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div
                            class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                            <div class="service-content text-start">
                                <h5 class="mb-4">Detailed Travel Guides</h5>
                                <p class="mb-0">Get up-to-date, practical information on Turkey’s must-visit
                                    destinations, as well as off-the-beaten-path locales. Our guides cover everything
                                    from accommodations and dining to attractions and activities.
                                </p>
                            </div>
                            <div class="service-icon p-4">
                                <i class="fa fa-globe fa-4x text-primary"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div
                            class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                            <div class="service-content text-start">
                                <h5 class="mb-4">Cultural Insights</h5>
                                <p class="mb-0"> Dive deep into the heart of Turkish culture. Learn about the customs,
                                    traditions, and festivals that make Turkey unique, enhancing your travel experience.
                                </p>
                            </div>
                            <div class="service-icon p-4">
                                <i class="fa fa-cog fa-4x text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- Services End -->

<!-- Destination Start -->
<div class="container-fluid destination py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Destination</h5>
            <h1 class="mb-0">Popular Destination</h1>
        </div>
        <div class="tab-class text-center">
            <ul class="nav nav-pills d-inline-flex justify-content-center mb-5">
                <li class="nav-item">
                    <a class="d-flex mx-3 py-2 border border-primary bg-light rounded-pill active"
                        href="{% url 'all_destinations'%}">
                        <span class="text-dark" style="width: 150px;">All</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    {% if destinations %}
                    <div class="row g-4">
                        <div class="col-xl-8">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="destination-img">
                                        <img  src= "{% static 'destination_images/' %}{{  destinations.0.galery }}"  class="img-fluid w-100 rounded"
                                            alt="Image">
                                        <div class="destination-overlay p-4">
                                            <a href="#"
                                                class="btn btn-primary text-white rounded-pill border py-2 px-3">20
                                                Photos</a>
                                            <h4 class="text-white mb-2 mt-3">{{ destinations.0.name }} {{  destinations.0.galery }}</h4>
                                            <a href="{% url 'details_destination' idDestination=destinations.0.id %}"
                                                class="btn-hover text-white">View All Place <i
                                                    class="fa fa-arrow-right ms-2"></i></a>
                                        </div>
                                        <div class="search-icon">
                                            <a href="{% static 'destination_images/' %}{{  destinations.0.galery }}"
                                                data-lightbox="destination-1"><i
                                                    class="fa fa-plus-square fa-1x btn btn-light btn-lg-square text-primary"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="destination-img">
                                        <img class="img-fluid rounded w-100" src="{% static 'destination_images/' %}{{  destinations.1.galery }}"
                                            alt="">
                                        <div class="destination-overlay p-4">
                                            <a href="#"
                                                class="btn btn-primary text-white rounded-pill border py-2 px-3">20
                                                Photos</a>
                                            <h4 class="text-white mb-2 mt-3">{{ destinations.1.name }}</h4>
                                            <a href="{% url 'details_destination' idDestination=destinations.1.id %}"
                                                class="btn-hover text-white">View All Place <i
                                                    class="fa fa-arrow-right ms-2"></i></a>
                                        </div>
                                        <div class="search-icon">
                                            <a href="{% static 'destination_images/' %}{{  destinations.1.galery }}"
                                                data-lightbox="destination-2"><i
                                                    class="fa fa-plus-square fa-1x btn btn-light btn-lg-square text-primary"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="destination-img">
                                        <img class="img-fluid rounded w-100" src="{% static 'destination_images/' %}{{  destinations.2.galery }}"
                                            alt="">
                                        <div class="destination-overlay p-4">
                                            <a href="#"
                                                class="btn btn-primary text-white rounded-pill border py-2 px-3">20
                                                Photos</a>
                                            <h4 class="text-white mb-2 mt-3">{{ destinations.2.name }}</h4>
                                            <a href="{% url 'details_destination' idDestination=destinations.2.id %}"
                                                class="btn-hover text-white">View All Place <i
                                                    class="fa fa-arrow-right ms-2"></i></a>
                                        </div>
                                        <div class="search-icon">
                                            <a href="{% static 'destination_images/' %}{{  destinations.2.galery }}"
                                                data-lightbox="destination-7"><i
                                                    class="fa fa-plus-square fa-1x btn btn-light btn-lg-square text-primary"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="destination-img">
                                        <img class="img-fluid rounded w-100" src="{% static 'destination_images/' %}{{  destinations.3.galery }}"
                                            alt="">
                                        <div class="destination-overlay p-4">
                                            <a href="#"
                                                class="btn btn-primary text-white rounded-pill border py-2 px-3">20
                                                Photos</a>
                                            <h4 class="text-white mb-2 mt-3">{{ destinations.3.name }}</h4>
                                            <a href="{% url 'details_destination' idDestination=destinations.3.id %}"
                                                class="btn-hover text-white">View All Place <i
                                                    class="fa fa-arrow-right ms-2"></i></a>
                                        </div>
                                        <div class="search-icon">
                                            <a href="{% static 'destination_images/' %}{{  destinations.3.galery }}"
                                                data-lightbox="destination-8"><i
                                                    class="fa fa-plus-square fa-1x btn btn-light btn-lg-square text-primary"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="destination-img h-100">
                                <img class="img-fluid rounded w-100 h-100" src="{% static 'destination_images/' %}{{  destinations.4.galery }}"
                                    style="object-fit: cover; min-height: 300px;" alt="">
                                <div class="destination-overlay p-4">
                                    <a href="{% url 'details_destination' idDestination=destinations.4.id %}"
                                        class="btn btn-primary text-white rounded-pill border py-2 px-3">20
                                        Photos</a>
                                    <h4 class="text-white mb-2 mt-3">{{ destinations.4.name }}</h4>
                                    <a href="{% url 'details_destination' idDestination=destinations.4.id %}"
                                        class="btn-hover text-white">View All Place <i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                                <div class="search-icon">
                                    <a href="{% static 'destination_images/' %}{{  destinations.4.galery }}" data-lightbox="destination-4"><i
                                            class="fa fa-plus-square fa-1x btn btn-light btn-lg-square text-primary"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="destination-img">
                                <img class="img-fluid rounded w-100" src="{% static 'destination_images/' %}{{  destinations.5.galery }}" alt="">
                                <div class="destination-overlay p-4">
                                    <a href="{% url 'details_destination' idDestination=destinations.5.id %}"
                                        class="btn btn-primary text-white rounded-pill border py-2 px-3">20
                                        Photos</a>
                                    <h4 class="text-white mb-2 mt-3">{{ destinations.5.name }}</h4>
                                    <a href="{% url 'details_destination' idDestination=destinations.5.id %}"
                                        class="btn-hover text-white">View All Place <i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                                <div class="search-icon">
                                    <a href="{% static 'destination_images/' %}{{  destinations.5.galery }}" data-lightbox="destination-5"><i
                                            class="fa fa-plus-square fa-1x btn btn-light btn-lg-square text-primary"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="destination-img">
                                <img class="img-fluid rounded w-100" src="{% static 'destination_images/' %}{{  destinations.6.galery }}" alt="">
                                <div class="destination-overlay p-4">
                                    <a href="{% url 'details_destination' idDestination=destinations.6.id %}"
                                        class="btn btn-primary text-white rounded-pill border py-2 px-3">20
                                        Photos</a>
                                    <h4 class="text-white mb-2 mt-3">{{ destinations.6.name }}</h4>
                                    <a href="{% url 'details_destination' idDestination=destinations.6.id %}"
                                        class="btn-hover text-white">View All Place <i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                                <div class="search-icon">
                                    <a href="{% static 'destination_images/' %}{{  destinations.6.galery }}" data-lightbox="destination-6"><i
                                            class="fa fa-plus-square fa-1x btn btn-light btn-lg-square text-primary"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="destination-img">
                                <img class="img-fluid rounded w-100" src="{% static 'destination_images/' %}{{  destinations.7.galery }}" alt="">
                                <div class="destination-overlay p-4">
                                    <a href="{% url 'details_destination' idDestination=destinations.7.id %}"
                                        class="btn btn-primary text-white rounded-pill border py-2 px-3">20
                                        Photos</a>
                                    <h4 class="text-white mb-2 mt-3">{{ destinations.7.name }}</h4>
                                    <a href="{% url 'details_destination' idDestination=destinations.7.id %}"
                                        class="btn-hover text-white">View All Placesss <i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                                <div class="search-icon">
                                    <a href="{% static 'destination_images/' %}{{  destinations.7.galery }}" data-lightbox="destination-6"><i
                                            class="fa fa-plus-square fa-1x btn btn-light btn-lg-square text-primary"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Destination End -->






{% endblock%}
{% block script %}
<script>
    document.getElementById('search-button').addEventListener('click', function () {
        const searchInput = document.getElementById('search-input').value;
        const baseUrl = "{% url 'all_destinations' %}"; // Use the name of your URL pattern here
        const url = `${baseUrl}?location=${encodeURIComponent(searchInput)}&special_budget=all`;
        window.location.href = url;
    });
</script>
{% endblock script%}